.foto{
    height: 90px;
    margin-left: 350px;
}

#header{
    background-color: #0f5238;
}

.btn{
    margin-left: 440px;
    color: #d4a14a;
}

.btn:hover {background-color: #ffe4c4}

.btn2{
    margin-top: -45px;
    margin-left: 680px;
    color: #d4a14a;
}


.btn2:hover {background-color:#ffe4c4}



#body{
    background-color:#ffe4c4 ;
}

.fotocinema{
     height: 210px;
     margin-top: 50px;
     margin-left: 100px;
}


.text{
     margin-top: -220px;
     margin-left: 600px;
     margin-right: 300px;
     color: #0f5238;
     font-family: impact;
}

hr.solid{
    border-top: 2px solid #0f5238;
    width: 370px;
    margin-right: 285px;
}
.partnertxt{
    margin-top: -30px;
    margin-left: 720px;
    color: #d4a14a;
    font-family: impact;
}

.fotoimax{
    margin-top: -2px;
    margin-bottom: 18px;
    margin-left: 650px;
    height: 23px;
}

.fotodolby{
    margin-top: -2px;
    margin-bottom: 18px;
    margin-left: 37px;
    height: 25px;
}


.nowtxt{
    margin-left: 455px;
    color: #0f5238;
    font-family: impact;

}

#movie{
    border:  #0f5238;
    border-style: solid;
    display: flex;
    flex-direction: row;
    border-width: 9px;
    border-right: -100px;
}

.fotoip{
    margin-top: 10px;
    margin-left: 80px;
    height: 250px;
}


.fotomid{
    margin-top: 10px;
    margin-left: 13px;
    margin-bottom: 10px;
    height: 250px;
}

.fotoking{
    margin-top: 10px;
    margin-left: 13px;
    margin-bottom: 10px;
    height: 250px;
}

.fotoavg{
    margin-top: 10px;
    margin-left: 13px;
    margin-bottom: 10px;
    height: 250px;
}

.fotococo{
    margin-top: 10px;
    margin-left: 13px;
    margin-bottom: 10px;
    height:250px;
}

#footer{
    background-color: #0f5238;
}

.bluejack{
    margin-bottom: -25px;
    margin-left: 78px;
    color: #d4a14a;
    font-family: impact;
}

.insta{
    
    margin-left: 910px;
    height: 30px;
}

.tweet{
    margin-left: 5px;
    height: 30px;
}

.fb{
    margin-left: 5px;
    height: 30px;
}

#formheader{
    background-color: #0f5238;
}

#formbody{
    background-color: #ffe4c4;
}

#formfooter{
    background-color: #0f5238;
}

#section{
    background-color: #d4a14a;
}


.fotokursi{
    height: 220px;
    margin-top: 50px;
    margin-left: -360px;
    display: none;
    position: fixed;
}

#bodyleft:hover .fotokursi{
    display: inline;
}

